@using PhotoalbumMvcPL.ViewModels

@model AlbumViewModel

@{
    ViewBag.Title = "Photos";
}

<h2 class="page-header-center">Альбом @Model.Album.AlbumName пользователя @Html.ActionLink(Model.UserFromAlbum.UserName, "Albums", "Profile", 
new { userId = Model.UserFromAlbum.Id }, null) | @Html.ActionLink("Слайдер", "Slider", "Photo", new { albumId = Model.Album.Id }, null)</h2>
@*---------------------------------------------------IF USER HAVE NO RHOTO IN ALBUM---------------------------------------------------*@
@if (Model.PhotoList.Count() == 0) {<div class="block-align-center"><b>В альбоме пока нет фотографий</b></div>}
@*---------------------------------------------------ADD PHOTO FORM---------------------------------------------------*@
@{
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (Model.UserFromAlbum != null)
        {
            if (Model.UserFromSession.Id == Model.UserFromAlbum.Id)
            {
                using (Html.BeginForm("Album", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {<div class="form">
                     <div class="form-group">
                         <input type="text" hidden value=@Model.Album.Id.ToString() name="albumId"/>
                         <label>Добавить новую фотографию</label>
                         <input type="file" name="Image" />
                     </div>
                    <input type="submit" value="Загрузить фото" class="btn btn-default" />
                </div>
                }
            }
        }
    }
}
@*---------------------------------------------------PHOTO TABLE---------------------------------------------------*@

<table>
    <tr class="row-photo-table">
        <td class="data-photo-table">
            <table>
                @{
                    int i = 0;
                    foreach (var item in Model.PhotoList)
                    {
                        if (i % 4 == 0)
                        {
                            if (item.ImagePhotoe != null)
                            {
                                <tr>
                                    <td>
                                        <a href=@Url.Action("Picture","Photo", new{photoId=item.Id},null)>
                                            <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        i++;
                    }
                }
            </table>
        </td>
        <td class="data-photo-table">
            <table>
                @{
                    int j = 0;
                    foreach (var item in Model.PhotoList)
                    {
                        if (j % 4 == 1)
                        {
                            if (item.ImagePhotoe != null)
                            {
                                <tr>
                                    <td>
                                        <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                            <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        j++;
                    }
                }
            </table>
        </td>
        <td class="data-photo-table">
            <table>
                @{
                    int k = 0;
                    foreach (var item in Model.PhotoList)
                    {
                        if (k % 4 == 2)
                        {
                            if (item.ImagePhotoe != null)
                            {
                                <tr>
                                    <td>
                                        <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                            <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        k++;
                    }
                }
            </table>
        </td>
        <td class="data-photo-table">
            <table>
                @{
                    int l = 0;
                    foreach (var item in Model.PhotoList)
                    {
                        if (l % 4 == 3)
                        {
                            if (item.ImagePhotoe != null)
                            {
                                <tr>
                                    <td>
                                        <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                            <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        l++;
                    }
                }
            </table>
        </td>
</table>
