@using PhotoalbumMvcPL.ViewModels

@model IEnumerable<PhotoViewModel>

@{
    ViewBag.Title = "Photoes";
}

<h2>Альбом @Session["AlbumName"] пользователя @Html.ActionLink(Session["UserNameFromAlbum"].ToString(), "Albums", "Profile", new { userId = (int)Session["UserIdFromAlbum"] }, null) </h2>
@*---------------------------------------------------ADD PHOTO FORM---------------------------------------------------*@
@{
    if (Session["Email"] != null)
    {
        if (Session["UserIdFromAlbum"] != null)
        {
            if ((int)Session["UserIdFromSession"] == (int)Session["UserIdFromAlbum"])
            {
                using (Html.BeginForm("Album", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {<div style="padding-bottom: 10px">
                    <div class="form-group">
                        <label>Добавить новую фотографию</label>
                        <input type="file" name="Image" />
                    </div>
                    <input type="submit" value="Загрузить фото" class="btn btn-default" />
                </div>
                }
            }
        }
    }
}
@*---------------------------------------------------PHOTO TABLE---------------------------------------------------*@

<table>
    <tr class="row-photo-table">
        <td class="data-photo-table">
            <table>
                @{
                    int i = 0;
                    foreach (var item in Model)
                    {
                        if (i % 4 == 0)
                        {
                            if (item.ImagePhotoe != null)
                            {
                                <tr>
                                    <td>
                                        <a href=@Url.Action("Picture","Photo", new{photoId=item.Id},null)>
                                            <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        i++;
                    }
                }
            </table>
        </td>
        <td class="data-photo-table">
            <table>
                @{
                    int j = 0;
                    foreach (var item in Model)
                    {
                        if (j % 4 == 1)
                        {
                            if (item.ImagePhotoe != null)
                            {
                                <tr>
                                    <td>
                                        <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                            <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        j++;
                    }
                }
            </table>
        </td>
        <td class="data-photo-table">
            <table>
                @{
                    int k = 0;
                    foreach (var item in Model)
                    {
                        if (k % 4 == 2)
                        {
                            if (item.ImagePhotoe != null)
                            {
                                <tr>
                                    <td>
                                        <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                            <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        k++;
                    }
                }
            </table>
        </td>
        <td class="data-photo-table">
            <table>
                @{
                    int l = 0;
                    foreach (var item in Model)
                    {
                        if (l % 4 == 3)
                        {
                            if (item.ImagePhotoe != null)
                            {
                                <tr>
                                    <td>
                                        <a href=@Url.Action("Picture", "Photo", new { photoId = item.Id }, null)>
                                            <img class="img-responsive" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        l++;
                    }
                }
            </table>
        </td>
</table>
