@using PhotoalbumMvcPL.ViewModels

@model PhotoViewModel

@{
    ViewBag.Title = "Photoes";
}

@*@{
    ViewBag.UserIdFromSession = Model.UserFromSession.Id;
    ViewBag.PhotoId = Model.Photo.Id;
}*@
<h2 class="page-header-center">Альбом @Html.ActionLink(Model.Album.AlbumName, "Album", "Photo", new { albumId = Model.Album.Id }, null) пользователя
     @Html.ActionLink(Model.UserFromAlbum.UserName, "Albums", "Profile", new { userId = Model.Album.UserId }, null) </h2>
<table>
    <tr>
        <td class="w-80-align-c-valign-top">
            @*---------------------------------------------------PHOTO---------------------------------------------------*@
            <div class="photo-picture">
                <img class="max-width-100" src="@Url.Action("GetImage", "Photo", new {photoId = Model.Photo.Id},null)" />
            </div>
            @*---------------------------------------------------SHARE BUTTONS---------------------------------------------------*@
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init" data-yasharel10n="ru" data-yasharetype="link" data-yasharequickservices="vkontakte,facebook,twitter,lj,gplus"></div>
            @*---------------------------------------------------DESCRIPTION---------------------------------------------------*@
            <div class="description-picture">
                @Model.Photo.Description
            </div>
            @*---------------------------------------------------DELETE LINK---------------------------------------------------*@
            @{
                if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    if (Model.UserFromAlbum != null)
                    {
                        if (Model.UserFromSession.Id == Model.UserFromAlbum.Id)
                        {
                            <h3>@Html.ActionLink("Удалить", "Delete", "Photo", new { photoId = Model.Photo.Id }, null)</h3>
                            <h3>@Html.ActionLink("Редактировать описание", "Edit", "Photo", new { photoId =Model.Photo.Id }, null)</h3>
                        }
                    }
                }
            }
            @*---------------------------------------------------VIEW PICTURE LINK---------------------------------------------------*@
            <h3>@Html.ActionLink("Фото", "ViewPicture", "Photo", new { photoId =Model.Photo.Id}, null)</h3>
            @*---------------------------------------------------ADD COMMENT FORM---------------------------------------------------*@
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("Picture", "Photo"))
                {
                    <div class="editor-field">
                        Добавить комментарий
                        <input type="text" name="photoId" hidden value=@Model.Photo.Id.ToString() />
                        <input type="text" name="comment" />
                    </div>
                <div class="description-picture">
                    <input type="submit" value="Добавить" class="btn btn-default" />
                </div>
                }
            }
            @*---------------------------------------------------COMMENTS--------------------------------------------------*@
            <table class="table-td-picture">
                @foreach (CommentViewModel item in Model.CommentList)
                {
                    <tr>
                        <td >
                            @if (item.UserPhotoe != null)
                            {
                                <img class="avatar" src="@Url.Action("GetImage", "Account", new {userId = item.UserId})" />
                            }
                            else
                            {
                                <img class="avatar" src="~/image/deletedAvatar.jpg">
                            }
                        </td>
                        <td class="username-in-comment">
                            <b>
                                @if (item.UserName == "DELETED")
                                {
                                    @item.UserName;
                                }
                                else
                                {
                                    @Html.ActionLink(item.UserName, "Albums", "Profile", new { userId = item.UserId }, null)
                                }
                            </b>
                        </td>
                        <td class="valign-top">
                            @item.TextComment
                        </td>
                        <td class="comment-date">
                            @item.CreateTime
                        </td>
                    </tr>

                }
            </table>
        </td>
        @*---------------------------------------------------PHOTO PREVIEW---------------------------------------------------*@
        <td class="valign-top">
            <table class="valign-top">
                <tr>
                    <td class="valign-top">
                        <table class="photo-table-preview">
                            @{
                                int i = 0;
                                foreach (var item in Model.PhotoList)
                                {
                                    if (i % 4 == 0)
                                    {
                                        if (item.ImagePhotoe != null)
                                        {
                                            <tr>
                                                <td>
                                                   <a href=@Url.Action("Picture","Photo", new{photoId=item.Id},null)>
                                                       <img class="photo-preview" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                                   </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    i++;
                                }
                            }
                        </table>
                    </td>
                    <td class="valign-top">
                        <table class="photo-table-preview">
                            @{
                                int j = 0;
                                foreach (var item in Model.PhotoList)
                                {
                                    if (j % 4 == 1)
                                    {
                                        if (item.ImagePhotoe != null)
                                        {
                                            <tr>
                                                <td>
                                                   <a href=@Url.Action("Picture","Photo", new{photoId=item.Id},null)>
                                                       <img class="photo-preview" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    j++;
                                }
                            }
                        </table>
                    </td>
                    <td class="valign-top">
                        <table class="photo-table-preview">
                            @{
                                int k = 0;
                                foreach (var item in Model.PhotoList)
                                {
                                    if (k % 4 == 2)
                                    {
                                        if (item.ImagePhotoe != null)
                                        {
                                            <tr>
                                                <td>
                                                    <a href=@Url.Action("Picture","Photo", new{photoId=item.Id},null)>
                                                        <img class="photo-preview" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    k++;
                                }
                            }
                        </table>
                    </td>
                    <td class="valign-top">
                        <table class="photo-table-preview">
                            @{
                                int l = 0;
                                foreach (var item in Model.PhotoList)
                                {
                                    if (l % 4 == 3)
                                    {
                                        if (item.ImagePhotoe != null)
                                        {
                                            <tr>
                                                <td>
                                                    <a href=@Url.Action("Picture","Photo", new{photoId=item.Id},null)>
                                                        <img class="photo-preview" src="@Url.Action("GetImage", "Photo", new {photoId = item.Id})" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    l++;
                                }
                            }
                        </table>
                    </td>
            </table>
        </td>
    </tr>
</table>
