@model IEnumerable<PhotoalbumMvcPL.ViewModels.UserViewModel>

@{
    ViewBag.Title = "All users";
}

<h2>Зарегистрированные пользователи</h2>
@*---------------------------------------------------ALL USERS TABLE---------------------------------------------------*@
<table>
    <tr>
        <th class="table-paddings">

        </th>
        <th class="table-paddings">
            @Html.DisplayNameFor(model => model.UserName)
        </th>     
        <th class="table-paddings">
            @*@if (HttpContext.Current.User.IsInRole("admin"))
            {
                <h3>@Html.DisplayNameFor(model => model.Email)</h3>
            }*@
            @{
                if (Session["IsAdminFlag"] != null)
                {
                    if ((bool)Session["IsAdminFlag"])
                    {
                        <h3>@Html.DisplayNameFor(model => model.Email)</h3>
                    }
                }
            }
        </th>
        <th class="table-paddings">
            @*@if (HttpContext.Current.User.IsInRole("admin"))
            {
                @Html.DisplayNameFor(model => model.Role)
            }*@
            @{
                if (Session["IsAdminFlag"] != null)
                {
                    if ((bool)Session["IsAdminFlag"])
                    {
                        @Html.DisplayNameFor(model => model.Role)
                    }
                }
            }
        </th>
        <th class="table-paddings">
            @Html.DisplayNameFor(model => model.CreationDate)
        </th> 
        <th class="table-paddings"></th>     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="table-paddings">
            @if (item.UserPhotoe != null)
            {
                <div style="float: left; margin-right: 20px">
                    <img width="75" height="75" src="@Url.Action("GetImage", "Account", new {userId= item.Id })" />
                </div>
            }
        </td>
        <td class="table-paddings">
            @Html.ActionLink(item.UserName, "Albums", "Profile", new { userId = item.Id }, null)
        </td>
        <td class="table-paddings">
            @*@if (HttpContext.Current.User.IsInRole("admin"))
            {
            @Html.DisplayFor(modelItem => item.Email)
            }*@
            @{
            if (Session["IsAdminFlag"] != null)
            {
                if ((bool)Session["IsAdminFlag"])
                {
                    @Html.DisplayFor(modelItem => item.Email)
                }
            }
            }
        </td>
        <td class="table-paddings">
            @*@if (HttpContext.Current.User.IsInRole("admin"))
            {
                @Html.DisplayFor(modelItem => item.Role)
            }*@
            @{
            if (Session["IsAdminFlag"] != null)
            {
                if ((bool)Session["IsAdminFlag"])
                {
                     @Html.DisplayFor(modelItem => item.Role)
                }
            }
            }
        </td>
        <td class="table-paddings">
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>       
        <td class="table-paddings">
            @*@if (HttpContext.Current.User.IsInRole("admin"))
            {
            <h3>@Html.ActionLink("Удалить пользователя", "Delete", "Account", new { userId =item.Id},null)</h3>
            }*@
            @{
            if (Session["IsAdminFlag"] != null)
            {
                if ((bool)Session["IsAdminFlag"])
                {
                    @Html.ActionLink("Удалить пользователя", "Delete", "Account", new { userId = item.Id }, null)
                }
            }
            }
        </td>
     </tr>
}
</table>
